{% extends "base.html" %}

{% block blog_title %}
	{{ blog.title }}
{% endblock %}

{% block topnav %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block page_title %}{{ blog.title }}{% endblock %}

{% block page_header %}{{ blog.title }} <small>{{ blog.description|safe }}</small>{% endblock %}

{% block main_content %}
	{% for p in posts %}
	<div class="row">
	      <div class="span1">
	        {% ifchanged %}{{ p.timestamp|date:"d|m|y" }}{% endifchanged %}&nbsp;
	      </div>
	      <div class="span9">
			&ndash; <a href="posts/{{ p.id }}">{{ p.title|safe }}</a>
	      </div>
	    </div>
	{% endfor %}
{% endblock %}
